###Use PRINT_START and PRINT_END for the slicer starting and ending script - please customize for your slicer of choice
[gcode_macro START_PRINT]
gcode:
    #Get Bed and Extruder temperature from Slicer GCode
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    #Preheat nozzle and bed
    M104 S{EXTRUDER_TEMP} T0                        
    M140 S{BED_TEMP}  
    #Home
    G28
    #Heat nozzle and bed
    M190 S{BED_TEMP}                               
    M109 S{EXTRUDER_TEMP} T0 
    #Precondition extruder
    G92 E0
    G1 Z2.0 F3000
    G1 X10.1 Y20 Z0.28 F5000.0
    G1 X0.1 Y150 Z0.3 F1500.0 E15
    G1 X10.4 Y200.0 Z0.28 F5000.0
    G1 X0.4 Y15 Z0.3 F1500.0 E30
    G92 E0
    G1 Z2.0 F3000

[gcode_macro END_PRINT]
gcode:
    M400                           
    G92 E0                         
    G1 E-4.0 F3600               
    G91                           
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}
    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}
    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600            
    G0 X{x_safe} Y{y_safe} F20000 
    TURN_OFF_HEATERS
    M107                         
    G90                         
    G0 X5 Y{max_y} F3600       
    M84                      